*.xml
*.o
*.cxx
*.xod
*.xid
*.pro
*tmp*
.amateras
.kdbgrc.imat
.settings
.cproject
.externalToolBuilders
Debug
Makefile*
Release
build
data
docs
doc/marmeas.qhc
doc/marmeas.qch
source-docs
src/ui_*.h
tmp
